.naam {
    margin-left: 10px;
}

.opslaan-knop{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    background-color: #62807e;
    border-radius:2px;
    height: 30px;
    width: auto;
}

.bordered-div-voorkeuren{
    border: 1px black solid;
    border-radius: 5px;
}